<main class="container mt-2">
  <a class="btn go-back" [routerLink]="['/star-wars']">Go back</a>
  <div class="mt-2">
    <p><b>Name: </b> {{ characterDetails?.name }}</p>
    <p><b>Birth Year: </b> {{ characterDetails?.birth_year }}</p>
    <p><b>Eye color: </b> {{ characterDetails?.eye_color }}</p>
    <p><b>Hair color: </b> {{ characterDetails?.hair_color }}</p>
    <p><b>Height: </b> {{ characterDetails?.height }} cm</p>
  </div>
</main>
