<main class="container mt-2">
  <a class="btn go-back" [routerLink]="['/poke']">Go back</a>
  <div class="mt-2">
    <p><b>Name: </b> {{ pokeData?.name }}</p>
    <p><b>Weight: </b> {{ pokeData?.weight }} Kgs</p>
    <p><b>XP: </b> {{ pokeData?.base_experience }}</p>
    <p>
      <b>Types: </b>
      <span *ngFor="let item of pokeData?.types">{{ item.type.name }}, </span>
    </p>
    <!-- <p><b>Height: </b> {{ pokeData?.height }} cm</p>  -->
  </div>
</main>
