/* You can add global styles to this file, and also import other style files */
:root {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
*:hover {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 10%;
}

.grid {
  display: grid;
  gap: 10px;
}

.list-grid {
  grid-template-columns: repeat(5, 1fr);
}

.btn {
  padding: 8px 16px;
  cursor: pointer;
}

.btn-blue {
  border: 0;
  background-color: rgb(54, 141, 255);
  color: #fff;
}

.navbar {
  padding: 16px;
  text-align: center;
  background-color: blanchedalmond;
}

.d-flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-2 {
  margin-top: 1.5rem;
}

.card {
  box-shadow: 0 0 10px 0 #00000020;
  padding: 10px;
}

.go-back {
  text-decoration: none;
  background-color: rgb(54, 141, 255);
  padding: 8px 16px;
  color: #fff;
  margin: 5px 0;
}

@media screen and (max-width: 1100px) {
  .list-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 784px) {
  .grid h3 {
    text-align: center;
  }
  .list-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
